/* .wraper {
    min-height: 100vh; /* Set the minimum height to 100% of the viewport height */
    /* display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    border-style: outset;
    color: rgba(4, 46, 4, 0.801);
    background: url('https://e0.pxfuel.com/wallpapers/927/748/desktop-wallpaper-ayurvedic-banner-design.jpg');
    background-size: cover;
  } */ */
  
  .container-sm {
    border-style: outset;
    max-width: 600px; /* Set the maximum width of the container */
    width: 70%; /* Set the width to 90% of the parent container */
    background-color: white;
    height: 500px;
  }
  
  .desc {
    height: 60px; /* Reduce the height of the description section */
  }
  
  .profile {
    height: 40px;
  }
  
  .profile img {
    height: 40px;
  }
  
  .writeinput {
    width: 80%;
    border: 0;
    outline: none;
    height: 60px;
    background: transparent;
    font-family: 'Inter', sans-serif;
  }
  
  .editable-content {
    min-height: 100px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  .imgupload{
    border: none;
    outline: none;
   
  }
  .imgupload img {
    height: 40px;
    cursor: pointer;
    margin-bottom: 40px;
  }
  
  .post {
    background-color: rgb(126, 199, 221);
    color: white;
    border-radius: 15px;
    height: 35px;
    margin-top: 30px;
  }
  
  .upload {
    height: 50px;
  }
  
  .imagesection {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* Set a maximum width for the image section */
    height: 280px; /* Set a fixed height for the image section */
  }
  
  .imagesection img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }
  
  